 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #DDDDDD;
  background-color: #15395D;
}

#stars {
  background-image: url(../images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 2050px;
  height: 600px;
}

$color1: #7B5940;
$padding: -30px;

a {
  text-decoration: none;
}

a:link {color: #333;}
a:active {color: #333;}
a:visited {color: #333;}
a:hover {color: #333;}

h1 {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 0px;
  padding-top: 70px;
}

h2 {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 24px;
  text-align: center;
  color: grey;
  margin-bottom: 40px;
}

#main {
  @include outer-container;
}

h3 {
  font-size: 20px;
}

.link {
  @include span-columns(4);
  text-align: center;
  border-radius: 50px;
  background-color: #DDDDDD;
  height: 300px;
  padding: 10px 30px 10px 30px;
}

.linkHover {
  box-shadow: 0 0 20px 10px $color1;
}

footer {
  text-align: center;
  color: black;
}

.bottomIcon {
  display: inline-block;
}

#githubIcon {
  opacity: 0.7;
  position: relative;
  left: 140px;
  top: -2px + $padding;
}

#linkedInIcon {
  position: relative;
  top: $padding;
  opacity: 0.7;
}

@mixin hiddenText {
  color: black;
  font-size: 14px;
  position: relative;
  opacity: 0;
}

#linkedInText {
  @include hiddenText;
  top: -15px + $padding;
}

#githubText {
  @include hiddenText;
  top: -12px + $padding;
  left: -50px;
}

#copyright {
  position: relative;
  top: -40px;
}

#resume {
  margin: 0 auto;
}

#download {
  text-align: center;
  border-radius: 50px;
  background-color: #DDDDDD;
  height: 38px;
  width: 150px;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 80px;
}

td {
  padding: 0px 25px 0px 25px;
  line-height: 22px;
  a {
    text-decoration: underline;
  }
  a:hover {
    color: $color1;
  }
}

.label {
  width: 250px;
  text-align: right;
}

#bar {
  height: 40px;
  background-color: black;
  margin-bottom: 20px;
}

.block {
  padding-bottom: 20px;
}

@media only screen
and (max-width : 670px) {
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .image {
    display: none;
  }
  .link {
    background-color: initial;
    margin: 0px;
    padding: 5px;
  }
  .linkHover {
    box-shadow: none;
  }
  footer {
    margin-top: 0px;
  }
}

@media only screen
and (min-width : 670px)
and (max-width : 900px) {
  .link {
    background-color: initial;
  }
  .linkHover {
    box-shadow: none;
  }
  footer {
    position: relative;
    top: -50px;
  }
}

@media only screen
and (max-width : 1080px) {
  h1 {
    color: #808080;
  }
  body {
    background-color: white;
  }
  #stars {
    background-image: none;
  }
  #bar {
    display: none;
  }
}

@media only screen
and (min-width : 1080px) {
  footer {
    position: relative;
    top: 40px;
  }

}

@media only screen
and (max-width : 1111px) {
  #bar {
    display: none;
  }
}