.header {
	text-align: right;
	padding-top: 20px;
	padding-bottom: 30px;
}

.topLinks {
	padding-right: 30px;
	padding-left: 40px;
	font-family: trebuchet ms;
    font-weight: bolder;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    &:hover{
    	color: #708f7e;
    }
}

#homeLogo {
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;
	top: 0%;
	left: 45%;
	z-index: 0;
	width: 200px;
	margin: auto;
}

#banner {
	background-color: #405148;
	height: 207px;
	width: 100%;
	background-image: url('images/field.jpg');
	position: relative;
	z-index: -2;
	text-align: center;
	overflow: hidden;
}

#fields {
	position: relative;
	z-index: -1;
	width: 100%;
	top: -20px;
	opacity: 0.15;
}

#ee {
	position: relative;
	z-index: 1;
	padding-bottom: 4px;
}

/*@mixin halfPadding($halfPadding) {
	padding-left: $halfPadding;
	padding-right: $halfPadding;
};*/

iframe {
	display: inline-block;
	position: relative;
	left: 7%;
	top: 80px;
	width: 560px;
	height: 315px;
	/*@include halfPadding(-40px);*/
}

#homeText {
	display: inline-block;
	float: right;
	position: relative;
	top: 80px;
	left: -20px;
	width: 45%;
	font-family: 'Archivo Narrow';
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
}

#content {
	width: 100%;
}

#connect {
	position: relative;
	width: 400px;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
	text-align: center;
	top: 150px;
	font-size: 20px;
	color: white;
	font-family: 'Josephin Slab';
	letter-spacing: 2px;
	font-weight: 500;
	border: solid;
	margin: 0 auto;
	background-color: #405148;
	border-width: 0px;
/*	&:hover{
    	background-color: #708f7e;
    }*/
}

#connectLink {
	text-decoration: none !important;
}

.linkHover {
	box-shadow: 0 0 20px 10px #708f7e;
}

i {
	&:hover{
    	color: #708f7e;
    }
}

.footer {
	display: block;
	position: relative;
	height: 100px;
	line-height: 100px;
	white-space: nowrap;
	text-align: center;
	top: 200px;
	width: 100%;
	background-color: #405148;
	font-size: 30px;
	color: white;
	letter-spacing: 20px;
}

.copyright {
	display: block;
	position: relative;
	color: white;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	text-align: center;
	background-color: black;
	width: 100%;
	top: 200px;
}